<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta
			name="author"
			content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
		/>
		<meta name="generator" content="Hugo 0.88.1" />
		<title>Defect Prediction</title>

		<link
			rel="canonical"
			href="https://getbootstrap.com/docs/5.1/examples/product/"
		/>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>

		<!-- Custom styles for this template -->
		<link href="../static/style.css" rel="stylesheet" />
	</head>
	<body>
		<main>
			<div
				class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
			>
				<div class="col-md-5 p-lg-5 mx-auto my-5">
					<h1 class="display-4 fw-normal">
						Lets Predict Source Code of Your Software!
					</h1>
					<p class="lead fw-normal">
						Software Defect Prediction (SDP) is one of the most assisting
						activities of the Testing Phase of SDLC. It identifies the modules
						that are defect prone and require extensive testing. This way, the
						testing resources can be used efficiently without violating the
						constraints.
					</p>
					<a class="btn btn-outline-secondary" href="#start">Get Started!</a>
				</div>
				<div class="product-device shadow-sm d-none d-md-block"></div>
				<div
					class="product-device product-device-2 shadow-sm d-none d-md-block"
				></div>
			</div>

			<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3" id="start">
				<div
					class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
				>
					<div class="my-3 py-3">
						<h2 class="display-5">Upload Your Source Code</h2>
						<p class="lead">Example: .java, .py, .php, .js, etc</p>
					</div>
					<div
						class="bg-light shadow-sm mx-auto"
						style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
					>
						<form method="post" action="/submit" enctype="multipart/form-data">
							<div class="form-group files color">
								<label>Upload Your File </label>
								<input
									name="my_image"
									id="pwd"
									type="file"
									class="form-control"
									multiple=""
								/>
							</div>
							<button type="submit" class="btn btn-outline-secondary">
								Submit
							</button>
						</form>
					</div>
				</div>
				<div
					class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
				>
					<div class="my-3 p-3">
						<h2 class="display-5">Your Prediction</h2>
						<p class="lead">This the result of prediction</p>
					</div>
					<div
						class="bg-dark shadow-sm mx-auto"
						style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
					>
						{% if prediction %}
						<img src="{{img_path}}" height="80%" class="p-2" />
						<br />
						<h2 class="lead text-light btn btn-outline-secondary">
							Result: {{prediction}}
						</h2>
						{% endif %}
					</div>
				</div>
			</div>
		</main>

		<footer class="container py-5">
			<div class="row">
				<div class="col-12 col-md">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						fill="none"
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						class="d-block mb-2"
						role="img"
						viewBox="0 0 24 24"
					>
						<title>Product</title>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
						/>
					</svg>
					<small class="d-block mb-3 text-muted"
						>&copy; Kelompok 4 - 2022</small
					>
				</div>
			</div>
		</footer>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
	</body>
</html>
